DotNettyServer/.vs/
DotNettyServer/bin/
DotNettyServer/obj/
IndividualServer/.vs/
IndividualServer/obj/
IndividualServer/bin/
TestClient/.vs/
TestClient/bin/
TestClient/obj/
SuperSocket/bin/Release/*
SuperSocket/obj
**/bin/*
**/.vs
**/obj/*
